.produtos {
      display: flex;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      padding: 20px;
      text-align: center;
    }

    .produto {
      background-color: #fff;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      transition: transform 0.3s, box-shadow 0.3s;
   position: relative; 
    }

    .produto:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }

    .produto img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 10px;
      
    }

    .preco-antigo {
      font-size: 14px;
      color: #888;
      text-decoration: line-through;
      margin: 0;
    }

    .preco {
      font-size: 18px;
      font-weight: bold;
      color: #1a6b28;
      margin: 5px 0;
    }

    .nome {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      margin: 5px 0;
    }

    .parcelamento {
      font-size: 14px;
      color: #555;
      margin: 5px 0;
    }

    .avaliacao {
      font-size: 14px;
      color: #f4c150;
      margin: 5px 0;
    }
.btn-comprar {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0a4d1c;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-comprar:hover {
  background-color: #196319;
}
 .promo-bar {
      background-color: #145214;
      color: #fff;
      text-align: center;
      padding: 8px;
      font-size: 14px;
      font-weight: bold;
    }
    
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #0a4d1c;
  border-radius: 2px;
  transition: 0.3s;

}
.descricao-produto {
  display: none;
  position: absolute;  /* sobreposto ao card */
  background: rgba(255,255,255,0.95);
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #333;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  z-index: 10;
}

.btn-saiba {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-saiba:hover {
  background-color: #cde6cd;
}


 @media screen and (max-width: 992px) {
  .produtos {
    display: flex;          
    flex-direction: column;  
    gap: 15px;
    padding: 15px;
  }
   .menu-toggle {
    display: flex; 
  }
}

@media screen and (max-width: 768px) {
  .produtos {
    display: flex;           
    flex-direction: column; 
    gap: 15px;
    padding: 15px;
  }
  .menu-toggle {
    display: flex; 
  }
}

@media screen and (max-width: 480px) {
  .produtos {
    display: flex;           
    flex-direction: column;  
    gap: 15px;
    padding: 15px;
  }
   .menu-toggle {
    display: flex; 
  }
}
