@font-face {
    font-family: 'BreeSerif';
    font-style: normal;
    font-weight: normal;
    src: url('fontes/BreeSerif-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BreeSerif, sans-serif;
}

body {
    background-image: url('imgsEcomerce/SITE EcoLuxo (1).png'); 
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat; 
    min-height: 100vh;            
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}


.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.login-box {
    background: #cfe7d6;
    padding: 40px 30px;
    border-radius: 25px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease;
}

.login-box:hover {
    transform: translateY(-5px);
}

.login-box h2 {
    background: #1e9b50;
    color: #fff;
    padding: 15px 0;
    border-radius: 30px;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: bold;
}

.login-box p {
    color: #0a4d1c;
    margin-bottom: 25px;
    font-size: 15px;
}

.login-box label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #0a4d1c;
    margin-top: 10px;
    font-size: 14px;
}

.login-box input {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border: 2px solid #1e9b50;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-box input:focus {
    border-color: #0a4d1c;
    box-shadow: 0 0 5px rgba(0, 149, 80, 0.4);
}

.btn-login,
.btn-criar,
.btn-voltar {
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    margin-top: 15px;
}

.btn-login {
    background: #1e9b50;
    color: #fff;
    border: none;
}

.btn-login:hover {
    background: #0a4d1c;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.btn-criar {
    background: #4cb05c;
    color: #fff;
}

.btn-criar:hover {
    background: #2e7d32;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.btn-voltar {
    color: #000000;
}

.criar {
    margin-top: 15px;
    color: #0a4d1c;
    font-size: 14px;
}

@media (max-width: 500px) {
    .login-box {
        padding: 30px 20px;
    }

    header h1 {
        font-size: 22px;
    }

    .btn-login, .btn-criar, .btn-voltar {
        font-size: 14px;
        padding: 10px 0;
    }
}
