* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f6f0 url('img/fundo.png') no-repeat;
    background-size: cover;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d7ede3;
    padding: 15px 40px;
    transition: 3s;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header h1 {
    font-size: 28px;
    color: #0a4d1c;
}

header h1 span {
    color: #1e9b50;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: #0a4d1c;
   

}

header nav a:hover {
    color: #1e9b50;
}


/* Menu secundário */
.menu-secundario {
    display: flex;
    justify-content: center;
    gap: 50px;
    background: #1e9b50;
    padding: 10px 0;
    
}

.menu-secundario a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu-secundario i {
    margin-right: 5px;
}

/* Produtos */
main {
    text-align: center;
    padding: 30px;
}

main h2 {
    background: #cfe7d6;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 30px;
    color: #0a4d1c;
    margin-bottom: 30px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 200px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card p {
    font-weight: bold;
    color: #333;
}

.card span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-box {
    background: #cfe7d6;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-box h2 {
    background: #1e9b50;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
    color: #0a4d1c;
}

.login-box label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #0a4d1c;
    margin-top: 10px;
}

.login-box input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #1e9b50;
    border-radius: 20px;
    outline: none;
}

.btn-login {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #1e9b50;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background: #0a4d1c;
}

.criar {
    margin-top: 15px;
    color: #0a4d1c;
}

.btn-criar {
    display: inline-block;
    margin-top: 10px;
    background: #1e9b50;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-criar:hover {
    background: #0a4d1c;
}

.rodape {
    background-color: #196319;
    color: #fff;
    padding: 40px 20px 20px 20px;
    font-family: 'Segoe UI', sans-serif;
    z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  }
  
  .footer-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 90px; 
  }
  
  .footer-coluna h3, .footer-coluna h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #fff;
  }
  
  .footer-coluna {
    min-width: 20px;
    margin-bottom: 30px;
  }
  
  .footer-coluna h3 {
    color: #79f830;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .footer-coluna h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ddd;
  }
  
  .footer-coluna ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-coluna ul li {
    margin-bottom: 8px;
  }
  
  .footer-coluna ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-coluna ul li a:hover {
    color: #faffe1ad;
  }
  
  .footer-pagamentos h4 {
    color: #91d650;
    margin-bottom: 15px;
    text-align: left;
    font-size: 22px;
  }
  
  .pagamentos-icones {
    display: flex;
    gap:20px;
    justify-content: flex-start;
  }
  
  .footer-pagamentos i {
    font-size: 36px;
    margin-right: 15px;
    vertical-align: middle;
  }
  .footer-bottom {
    border-top: 1px solid #333;
    text-align: center;
    padding-top: 5%;
    font-size: 80%;
    color: #888;
    margin-top: 20px;
  }
  